@import "tailwindcss";

@theme {
    --color-t-primary: oklch(92% 0.004 286.32);
    --color-t-secondary: oklch(82% 0.004 286.32);
    --color-t-accent: oklch(76.5% 0.177 163.223);
    --color-muted: oklch(16.1% 0.005 285.823);
    --color-error: oklch(64.5% 0.246 16.439);
    --color-info: oklch(74.6% 0.16 232.661);
    --color-success: oklch(84.5% 0.143 164.978);
    --color-muted-light: oklch(25% 0.006 285.885);
    --color-g-background: oklch(21% 0.006 285.885);
    --radius-g-radius: 15px;
    --shadow-custom:
        4px 4px 25px var(--color-muted), -1px -1px 8px var(--color-muted-light);
}

:root {
    background-color: var(--color-g-background);

    --p-toast-width: 350px;
    --p-toast-border-radius: var(--radius-g-radius);
    --p-toast-info-border-color: rgba(255, 255, 255, 0.2);
    --p-toast-success-border-color: rgba(255, 255, 255, 0.2);
    --p-toast-error-border-color: rgba(255, 255, 255, 0.2);
    --p-toast-error-color: var(--color-error);
    --p-toast-info-color: var(--color-info);
    --p-toast-success-color: var(--color-success);

    --p-fileupload-background: var(--color-muted-light);
    --p-fileupload-border-color: var(--color-muted-light);
    --p-fileupload-border-radius: var(--radius-g-radius);
    --p-button-text-secondary-hover-background: rgba(255, 255, 255, 0.1);
    --p-button-text-primary-hover-background: rgba(255, 255, 255, 0.1);
    --p-drawer-border-color: var(--color-muted-light);
    --p-menu-background: var(--color-muted-light);
    --p-menu-border-color: var(--color-muted-light);
    --p-menu-border-radius: var(--radius-g-radius);
    --p-toast-info-background: cristal;
    --p-toast-success-background: cristal;
    --p-toast-error-background: cristal;
}

.cristal {
    background-image: linear-gradient(
        120deg,
        rgba(0, 0, 0, 0.1),
        rgba(0, 0, 0, 0.3)
    );
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}
