@import "tailwindcss";

@theme {
    --color-t-primary: oklch(92% 0.004 286.32);
    --color-muted: oklch(16.1% 0.005 285.823);
    --color-muted-light: oklch(18.1% 0.005 285.823);
    --color-g-background: oklch(21% 0.006 285.885);
    --shadow-custom:
        4px 4px 25px var(--color-muted), -1px -1px 8px var(--color-muted-light);
}

:root {
    background-color: var(--color-g-background);
    --p-toast-width: 350px;
    --p-toast-border-radius: 15px;
    --p-toast-info-background: .cristal;
}

.cristal {
    background-image: linear-gradient(
        120deg,
        rgba(0, 0, 0, 0.1),
        rgba(0, 0, 0, 0.3)
    );
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}
